:root {
    --bg-color: #FFFFFF;
    --text-color: #667085;
    --title-color: #8E2424;

    --font-family: 'Inter', sans-serif;
    --font-style: normal;
}

.metrics-container {
    display: flex;
    font-family: var(--font-family);
    justify-content: space-around;
    align-items: start;
}

.metrics-container .metrics {
    justify-content: space-around;
    max-width: 280px;
    gap: 64px;
    padding: 0 0 96px;
}

.metrics-container span {
    color: var(--title-color);
    font-weight: 600;
    font-size: 3.75em;
    letter-spacing: 0.02em;
    line-height: 72px;
}

.metrics-container h1 {
    font-weight: 500;
    font-size: 1.125em;
    line-height: 1.75rem;

}

.metrics-container p {
    font-weight: 400;
    color: var(--text-color);
    max-width: 280px;

    line-height: 1.5rem;
}